{% load static %}
<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>

            <nav class="nav">
                {% if order_cost %}
                <form method="post" action="/payment/">
                    {% csrf_token %}
                    <input type="text" name="order_id" value="{{ secret_uuid }}" hidden>
                    <input type="text" name="info" value="Оплата заказа" hidden>
                    <input type="text" name="cost" value="{{ order_cost }}" hidden>
                    <button class="nav__link" type="submit">Оплатить ({{ order_cost }} руб.)</button>
                    <a class="nav__link" href="">Корзина</a>
                </form>
                {% endif %}
{#                 <script>#}
{#                     function sendPostRequest(element, value) {#}
{#                         let link = "{% url 'payment' %}";#}
{#                         $.ajax({#}
{#                             type: 'POST',#}
{#                             url: link,#}
{#                             data: {#}
{#                                 cost: value,#}
{#                                 info: 'Оплата заказа',#}
{#                                 order_id: '{{ secret_uuid }}',#}
{#                                 csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
{#                             },#}
{#                             success: function () {#}
{#                             }#}
{#                         });#}
{#                     }#}
{#                 </script>#}
            </nav>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
