{% load static %}
<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>

            <nav class="nav">
                {% if order_cost %}
                <form method="post" action="/payments/">
                    {% csrf_token %}
                    <a class="nav__link" href="" onclick="sendPostRequest(this, order_cost)">Оплатить ({{ order_cost }} руб.)</a>
                    <a class="nav__link" href="">Корзина</a>
                </form>
                {% endif %}
                 <script>
                     function sendPostRequest{{ lesson.pk }}(element, value) {
                         let link = "{% url '' %}";
                         $.ajax({
                             type: 'POST',
                             url: link,
                             data: {
                                 value: value,
                                 secret_uuid: {{ secret_uuid }},
                                 csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                             },
                             success: function () {
                             }
                         });
                     }
                 </script>
            </nav>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
