{% extends 'base.html' %}

{% block content %}

    <div class="container">
        {% if order_cost %}
                <form method="post" action="/payment/">
                    {% csrf_token %}
                    <input type="text" name="order_id" value="{{ secret_uuid }}" hidden>
                    <input type="text" name="info" value="Оплата заказа" hidden>
                    <button class="btn btn-success" type="submit" style="margin: 10px">Оплатить ({{ order_cost }} руб.)</button>
                </form>
                {% endif %}
</div>

<form method="post" action="/order/add/{{ secret_uuid }}/">
 {% csrf_token %}
<div class="accordion" id="accordionPanelsStayOpenExample">

    {% for category in categories %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{category.id}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{category.id}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{category.id}}">
           {{ category.name }}
          </button>
        </h2>
        <div id="panelsStayOpen-collapse{{category.id}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{category.id}}">

            <div class = "row gap-1">

                {% for product in category.products.all %}
                    <div class="card p-0" style="width: 18rem;">
                        <img src="{{ product.photo.url }}" class="card-img-top preview" alt="">

                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ product.name }}</h5>
                            <p class="card-text overflow-auto">{{ product.info }}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success w-100 align-self-end" type="submit" value="{{ product.id }}"
                                    name="product_id">Добавить
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

</form>


<style>
    .preview{
       width: 100%;
       height: 200px;
    }

    .card-text{
        max-height: 150px;
    }

    .btn-success{
    background-color: #abb194 !important;
    border-color: #abb194 !important;
    }

    .accordion-button{
    background-color: #decfad !important;
    color: #493423 !important;
    }

</style>


{% endblock %}